<h1>Producs: <% @products.each do |product| %> </h1>
<ul>
	<h2>Product Name: <%=product.title%></h2>
	<li>Product Description: <%=product.description%></li>
	<li>Bid Deadline:<%=product.deadline%></li>
</ul>
<%end%>