// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	width: 200px;
}
a  {	
	margin-right: 600px;
	width: 300px;
    background-color: red;
    float: ri;
    float: right;
    text-align: center;
    color: white;
}