
<h1><%= link_to "Add User", new_user_path %></h1>
<h1>Current Users: <% @users.each do |user| %> </h1>
<ul>
	<li><%=user.name%> <%= link_to "User Info", user_path(user)%></li>
	<li><%=user.email%></li>
</ul>
<%end%>
