<html>
	<head>
		<title>Current User</title>
	</head>
	<body>
		<h1>Current User is: <%= @contact.name %></h1>
		<%= form_for @contact do |f| %>
		<%= f.submit "Favorite!" %>
		<% end %>
	</body>
</html>

<%= link_to "Home", root_path %>